%main-style-sub-title{
	font-size: $main-font-size;
	font-family: $main-font-sub-title;
	line-height: 36px;
	text-align: center;
}

%blue-and-red__block__title{
	color: #020202;
    font-size: 48px;
    text-transform: $upp-case;
}