$main-font-sub-title: 'Lato';
$title-font: 'Roboto';
$main-font-size: 20px;
$main-color: #3e3e3e;
$upp-case: uppercase;
$bg-color: #fff;


body{
	box-sizing: border-box;
	font-family: Lato, Roboto, sans-serif;
}

@import 'mixin';
@import 'header';
@import 'main';
@import 'footer';
@import 'media';



